<template>
  <div class="button-container">
    <a class="custom-button" :href=link>{{ displayText }}</a>
  </div>
</template>

<script>
export default {
  props: ['displayText', 'link'],
}
</script>

<style scoped>
    .button-container {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 50px;
    }

    .custom-button {
        display: inline-block;
        font-size: 1.2rem;
        color: #fff;
        background-color: #3eaf7c;
        padding: 0.8rem 1.6rem;
        border-radius: 4px;
        transition: background-color 0.1s ease;
        box-sizing: border-box;
        border-bottom: 1px solid #389d70;
    }
</style>
